$color60percentDark: #1b1e21;
$color60perecentLight: #e8ecee;
$colorWhiteBg: #fff;

$color30percentGradient: linear-gradient(to bottom right, #313438, #1b1e21);
$color30percent: #313438;
$color10percentDark: #131313;

$colorFontBlack: #131313;
$colorFontWhite: #ffffff;
$colorFontGray: #8c9198;

.default-app {
  color: $colorFontBlack;
  background-color: $color60perecentLight;
}

.placeholder {
  background-color: $colorWhiteBg;
  color: $colorFontGray;
}

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-block {
  background-color: $colorWhiteBg;
  border-radius: 1rem;
}

.gradient-background {
  background-image: linear-gradient(
    270deg,
    #21d789 0%,
    #18b2b7 25%,
    #408bcf 65%,
    #8c5aff 100%
  );
}

.gradient-button {
  color: $colorFontWhite;
  border-radius: 0.3rem;
  border-width: 0.06rem;
  padding: 0.5rem 1rem;
  font-weight: 200;
  line-height: 1.5;
  font-size: 1rem;
}
.gradient-button::after {
  content: "Generate";
}
.gradient-button:hover::after {
  content: "Congratulations!";
  font-size: 0.9rem;
}

// style rules for printing the certificate
@media print {
  .section-to-print {
    visibility: visible;
    position: center;
    left: 0;
    top: 0;
  }
  .section-to-exclude {
    display: none;
  }
  #root {
    background-color: white;
  }
  .default-app {
    background-color: white;
  }
}
@page {
  size: auto;
  margin-top: 0mm;
  margin-bottom: 0mm;
  background-color: white;
}
* {
  // allows to print background images by default (browser default is no background images)
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
  color-scheme: exact !important; /* Firefox 48 – 96 */
  print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
}
