$color60percentDark: #1b1e21;
$color60perecentLight: #e8ecee;
$colorWhiteBg: #fff;

$color30percent: linear-gradient(to bottom right, #313438, #1b1e21);
$color10percentDark: #131313;

$colorFontBlack: #131313;
$colorFontWhite: #ffffff;
$colorFontGray: #8c9198;

.default-app {
  color: $colorFontBlack;
  background-color: $color60perecentLight;
}
